/* Footer styles */
.footer-section {
  padding-top: 110px;
  padding-bottom: 110px;
  border-top: 1px solid #c8c8c8;
  position: relative;
}

.footer-section .copyright {
  position: absolute;
  top: 50%;
  margin-top: -12px;
  left: 60px;
  color: #737373;
}

.footer-section .footer-social {
  width: 75px;
  text-align: center;
  position: absolute;
  right: 60px;
  top: -55px;
  padding-top: 20px;
  background: #222;
}

.footer-item ul {
  list-style: none;
}

.footer-item ul li {
  display: block;
  margin-bottom: 10px;
}

.footer-item ul li a {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  color: #222222;
  padding: 0 5px;
}

.footer-item ul li a:hover {
  background: #569dff;
}
